{%- if aliases %}
server {
    server_name {{ aliases|join(" ") }};
    rewrite ^ http://{{ domain }}$request_uri? permanent;
}
{%- endif -%}

{%- if ssl %}
server {
    listen 80;
    server_name {{ domain }};
    rewrite ^(.*) https://{{ domain }}$1 permanent;
}
{%- endif -%}

server {
    {%- if ssl %}
    listen 443{%- if default %} default deferred {%- endif %};

    ssl on;
    ssl_certificate /etc/ssl/certs/{{ domain }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ domain }}.key;

    {%- else %}
    listen 80{%- if default %} default deferred {%- endif %};
    {%- endif %}

    server_name {{ domain }};
    client_max_body_size 10m;
    root /home/{{ name }}/www;
    access_log /home/{{ name }}/log/nginx.access.log;
    keepalive_timeout 5;

    location = /robots.txt {
        access_log off;
        log_not_found off;
    }

    location = /favicon.ico {
        access_log off;
        expires 3M;
        log_not_found off;
    }

    {% if static_prefix %}
    location {{ static_prefix }} {
        access_log off;
        expires max;
    }
    {% else %}
    location ~* \.(jpg|jpeg|gif|css|png|js|ico)$ {
        access_log off;
        expires 30d;
    }
    {% endif %}

    location / {
        {%- if app_type == 'static' %}
        index index.html index.htm;
        {%- elif app_type == 'uwsgi' %}
        uwsgi_pass      unix:/run/uwsgi/app/{{ name }}/socket;
        include         uwsgi_params;
        uwsgi_param     UWSGI_SCHEME        $scheme;
        uwsgi_param     SERVER_SOFTWARE     nginx/$nginx_version;
        {%- endif %}
    }
}