[uwsgi]
#base = /home/{{ name }}/www
callable = application
chdir = /home/{{ name }}/www
home = /home/{{ name }}/venv
logto = /home/{{ name }}/log/app.log
master = true
max-requests = 5000
module = {{ name }}.wsgi
plugins = python
processes = 4
uid = www-data
vhost = true