[uwsgi]
base = /home/{{ name }}/www/{{ name }}
callable = application
chdir = /home/{{ name }}/www/{{ name }}
home = /home/{{ name }}/venv
master = true
max-requests = 5000
module = wsgi
plugins = python
processes = 4
vhost = true