[uwsgi]
app = {{ app }}
base = {{ base }}
chdir = {{ chdir }}
home = {{ home }}
master = true
max-requests = {{ max_requests }}
module = {{ module }}
plugins = python
processes = {{ processes }}
socket = {{ socket }}
vhost = true